# Unity generated
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Unity meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta

# OS generated
.DS_Store
Thumbs.db

# Visual Studio
.vs/
*.csproj
*.sln
*.user